@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-monica-primary-100: #F2FBC6;
    --color-monica-primary-200: #EEFAB8;
    --color-monica-primary-300: #E7F896;
    --color-monica-primary-400: #DBF465;
    --color-monica-primary-500: #D0F137;
    --color-monica-primary-600: #BFE410;
    --color-monica-primary-700: #98B50D;
    --color-monica-neutral-100: #F2FBC6;
    --color-monica-neutral-200: #E1F5B1;
    --color-monica-neutral-300: #C8EBA3;
    --color-monica-neutral-400: #B2E295;
    --color-monica-neutral-500: #99D78A;
    --color-monica-neutral-600: #7FCF7D;
    --color-monica-neutral-700: #66C671;
    --color-monica-neutral-800: #1B1B1B;
    --color-monica-neutral-900: #171717;
    --font-base: "Manrope", sans-serif;
    --text-display-size: 64px;
    --text-display-line-height: 1.1;
    --text-display-font-weight: 600;
    --monica-h2-size: 40px;
    --monica-h2-line-height: 1.1;
    --text-h2-font-weight: 500;
    --monica-h3-size: 40px;
    --monica-h3-line-height: 1.1;
    --text-h3-font-weight: 500;
    --monica-h5-size-semi-bold: 24px;
    --monica-h5-line-height-semi-bold: 1.5;
    --text-h5-font-weight-semi-bold: 600;
    --monica-h5-size-medium: 24px;
    --monica-h5-line-height-medium: 1.5;
    --text-h5-font-weight-medium: 500;
    --text-p20-size: 20px;
    --text-p20-weight: 500;
    --text-p20-line-height: 1.5;
    --text-p16-semi-bold-size: 16px;
    --text-p16-semi-bold-weight: 600;
    --text-p16-semi-bold-line-height: 1.5;
    --text-p16-medium-size: 16px;
    --text-p16-medium-weight: 500;
    --text-p16-medium-line-height: 1.5;
    --text-p16-regular-size: 16px;
    --text-p16-regular-weight: 400;
    --text-p16-regular-line-height: 1.5;
    --text-p14-size: 14px;
    --text-p14-weight: 500;
    --text-p14-line-height: 1.5
}

@layer utilities {
    .text-display {
        font-size: var(--text-display-size);
        line-height: var(--text-display-line-height);
        font-weight: var(--text-display-font-weight);
        font-family: var(--font-base);
    }

    .monica-h2 {
        font-size: var(--monica-h2-size);
        line-height: var(--monica-h2-line-height);
        font-weight: var(--text-h2-font-weight);
        font-family: var(--font-base);
    }

    .monica-h3 {
        font-size: var(--monica-h3-size);
        line-height: var(--monica-h3-line-height);
        font-weight: var(--text-h3-font-weight);
        font-family: var(--font-base);
    }

    .monica-h5-semi-bold {
        font-size: var(--monica-h5-size-semi-bold);
        line-height: var(--monica-h5-line-height-semi-bold);
        font-weight: var(--text-h5-font-weight-semi-bold);
        font-family: var(--font-base);
    }

    .monica-h5-medium {
        font-size: var(--monica-h5-size-medium);
        line-height: var(--monica-h5-line-height-medium);
        font-weight: var(--text-h5-font-weight-medium);
        font-family: var(--font-base);
    }

    .monica-p20 {
        font-size: var(--text-p20-size);
        line-height: var(--text-p20-line-height);
        font-weight: var(--text-p20-weight);
        font-family: var(--font-base);
    }

    .monica-p16-semi-bold {
        font-size: var(--text-p16-semi-bold-size);
        line-height: var(--text-p16-semi-bold-line-height);
        font-weight: var(--text-p16-semi-bold-weight);
        font-family: var(--font-base);
    }

    .monica-p16-medium {
        font-size: var(--text-p16-medium-size);
        line-height: var(--text-p16-medium-line-height);
        font-weight: var(--text-p16-medium-weight);
        font-family: var(--font-base);
    }


    .monica-p16-regular {
        font-size: var(--text-p16-regular-size);
        line-height: var(--text-p16-regular-line-height);
        font-weight: var(--text-p16-regular-weight);
        font-family: var(--font-base);
    }

    .monica-p14 {
        font-size: var(--text-p14-size);
        line-height: var(--text-p14-line-height);
        font-weight: var(--text-p14-weight);
        font-family: var(--font-base);
    }
    
}

@font-face {
    font-family : "Manrope";
    src : url("/fonts/Manrope-Regular.ttf") format("truetype");
    font-weight : 400;
    font-style : normal;
}